  .flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 220px;
  }
  
  .graph {
    width: 70px;
    margin: 15px;
    border: 5px solid black;
    background-color: rgb(106, 143, 211);
  }
  
  .item-a {
    height: 90px;
  }
  
  .item-b {
    height: 110px;
  }
  
  .item-c {
    height: 130px;
  }
  
  .item-d {
    min-height: 70px;
  }
  
  .item-e {
    height: 30px;
  }
  