
#totalContent{
  margin-left: 30px;
}
#td1 {
  margin-top: 15px;
}
#table1{
  float:left;
  width:400px;
  border: 1px outset rgb(43, 19, 19);
  padding-left: 10px;
  background-color:rgb(248, 248, 225);
}
#table2 {
  width:800px;
  border: 1px inset rgb(170, 21, 21);
 
}
    
.ulList {
  list-style-type: none;
  margin-left: -40px;
  margin-top: -10px;
  line-height: 196%;
}
#headTable{
  width:96%;
  font-style: italic;
  font-size: 0.5cm;
  background-color: rgb(253, 253, 182);
  margin-left:30px;
 
}