body {
  background-color: #232323;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 300px;
}

.items {
  width: 100px;
  margin: 10px;
  border: 3px solid rgb(231, 231, 231);
  background-color: rgb(0, 51, 147);
}

.item-1 {
  height: 60px;
}

.item-2 {
  height: 80px;
}

.item-3 {
  height: 100px;
}

.item-4 {
  min-height: 45px;
}

.item-5 {
  height: 30px;
}
